
.loginheading{
 color: rgb(178, 113, 53);
}
.username{
font-weight: bold;
}
.pass{
    font-weight: bold;

}
button{
    background-color: black;
    color: aliceblue;
}
.loginform{
    border: 1px solid red ;
    background-color: transparent;
    height: 300px;
    text-align: center;
    width:300px ;
    padding: 40px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(200, 230, 79);
}
.loginpage{
    height: 84vh;
    padding-top: 100px;
    background-image: url(../assets/login\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}